@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next,
html {
  height: 100%;
  line-height: 1.5;
  background-color: var(--background);
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  --primary: #D479FF;
  --secondary: #8044FF;
  --background-start-rgb: none;
  --background-end-rgb: none;
  --background: #F9F9FB;
  --card: #ffffff;
  --low-contrast: #D9D9D9;
  --faded: var(--low-contrast);
  --button: #000000;
  --accent: #131313;
  --text: #000000;
}

.dark {
  --background: #131313; 
  --card: #242222;
  --faded: var(--card);
  --low-contrast: #575050;
  --button:  var(--low-contrast);
  --accent: #a59d9d;
  --text: #ffffff;
}

p {
  font-size: 1rem;
  color: var(--text);
}

button {
  font-size: 1rem;
}

textarea {
  &:focus {
    outline: 4px solid var(--secondary); 
    outline-offset: 1px; 

  }
}
